#section2{
    background-color:rgb(36, 33, 33);
    color:white;
    font-size: 20px;
}
hr{
   
    height:2px;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
   background-color: white !important;
}